@model List<Model.EF.Content>
@{
    var category = (Model.EF.Category)ViewBag.Category;
    ViewBag.Title = category.Name;
    ViewBag.Keywords = category.MetaKeywords;
    ViewBag.Descriptions = category.MetaDescriptions;
    var listTag = (List<Model.EF.Tag>)ViewBag.Tags;
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<nav class="navbar">
    <span><a href="/"><i class="fas fa-home"></i> Trang Chủ</a> / <a href="/tin-tuc">Tin Tức</a></span>
</nav>

<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="product-search">

                                        <h5>Danh Mục: @category.Name</h5>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="product-view-top">
                            @if (Model.Count > 0)
                            {

                                foreach (var item in Model)
                                {
                                    var link = "/chi-tiet-bao" + item.MetaTitle + "-" + item.ID;
                                    <div class="image group">
                                        <div class="grid images_3_of_1">
                                            <a href="@link"><img src="@item.Image" alt=""></a>
                                        </div>
                                        <div class="grid news_desc">
                                            <a href="@link"> <h3>@item.Name</h3></a>
                                            <h4>@item.CreatedDate<span>  by:  <a href="#">@item.CreatedBy</a></span></h4>
                                            <p style="color:#808080">@item.Description <a href="@link" title="more">[....]</a></p>
                                        </div>
                                    </div>
                                }
                                <!--Phan trang-->
                                if (ViewBag.TotalPage > 1)
                                {
                                    var pageDisplay = (int)ViewBag.MaxPage;
                                    int totalPage = (int)ViewBag.TotalPage;
                                    int currentPage = ((int)ViewBag.Page);

                                    var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                                    var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                                    var link = "/danh-muc/" + category.MetaTitle + "-" + category.ID;
                                    <div class="clear"></div>
                                    <nav>
                                        <ul class="pagination">

                                            @if (currentPage > ViewBag.First)
                                            {
                                                <li><a href="@link?page=@ViewBag.First" title="Trang Đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                                <li><a href="@link?page=@ViewBag.Prev" title="Trang Trước" class="prev"><i class="fa fa-angle-left"></i></a></li>
                                            }
                                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                                            {
                                                if (currentPage == i)
                                                {
                                                    <li><a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@link?page=@i" class="pos" title="Trang @i">@i</a></li>

                                                }
                                            }
                                            @if (currentPage < totalPage)
                                            {
                                                <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang Sau"><i class="fa fa-angle-right"></i></a></li>
                                                <li><a href="@link?page=@ViewBag.Last" class="last" title="Trang Cuối"><i class="fa fa-angle-double-right"></i></a></li>
                                            }
                                        </ul>
                                    </nav>

                                }
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    <span>Không có bản ghi nào</span>
                                </div>
                            }

                        </div>

                    </div>
                </div>

                <!-- Pagination Start -->
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <nav class="navbar bg-light">

                        @{ Html.RenderAction("Category", "Content");}
                    </nav>
                </div>

                <div class="sidebar-widget tag">
                    <h2 class="title">Tags</h2>
                    @foreach (var item in listTag)
                    {
                        <a href="/tag/@item.ID">@item.Name</a>
                    }

                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>


