@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layouts.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts;
}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6168ecfe9afe107b"></script>
<div class="content">
    <div class="content_top">
        <div class="back-links" style="width:100%">
            <p><a href="/">Trang chủ</a> >> <a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                    <a href="#" target=""><img src="@Model.Image" alt=" " /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.Name </h2>
                    <p>@Model.Description</p>
                    <div class="price">
                        <p>Giá: @(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ")</p>
                    </div>
                    <div class="share-desc">
                        <div class="share">
                            <div><p>Chia Sẻ: </p></div>
                            <div class="addthis_inline_share_toolbox_fw73"></div>
                        </div>

                        <div class="clear"></div>
                    </div>
                    <div class="btn btn-danger"><a href="@Model.Link">Đến Nơi Bán</a></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">Product Details</li>
                    </ul>
                    <div class="resp-tabs-container">
                        <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Product Details</h2><div class="product-desc resp-tab-content resp-tab-content-active" style="display:block" aria-labelledby="tab_item-0">
                            <p>@Html.Raw(Model.Detail)</p>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });</script>
            <div class="content_bottom">
                <div class="heading">
                    <h3>Sản phẩm liên quan</h3>
                </div>
                <div class="see">
                    <p><a href="/san-pham">Xem tất cả</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                @foreach (var item in relatedProducts)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="@url"><img src="@item.Image" alt=""></a>
                        <div class="price" style="border:none">
                            <h2>@item.Name</h2>
                            <div class="add-cart" style="float:none">
                                <h4><a href="@url">Xem chi tiết</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>}

            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            @{ Html.RenderAction("ProductCategory", "Product");}
        </div>
    </div>
</div>